In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
filename = "data/booksummaries.txt"
lines = open(filename).read().splitlines()
len(lines)

16559

In [3]:
titles = []
authors = []
pubDates = []
genres = []
summaries = []
for line in range(0,len(lines)):
    content = lines[line].split('/m/', 1)[1].split('\t', 1)[1]
    fields = content.split('\t')
    title = fields[0]
    titles.append(title)
    author = fields[1]
    authors.append(author)
    pubDate = fields[2]
    if pubDate == '':
        pubDate = np.nan
    pubDates.append(pubDate)
    genreDict = fields[3]
    genre = ''
    summary = fields[-1]
    try:
        genreDict = eval(genreDict)
        for val in genreDict.values():
            genre += val + ' '
    except:
        genre = np.nan
    
    genres.append(genre)
    summary = summary.replace('\'', '')
    summaries.append(summary)

In [4]:
books_df = pd.DataFrame({'Title':titles, 'Author':authors, 'PublishedDate': pubDates,'Genre':genres, 'Summary':summaries})
books_df

,Title,Author,PublishedDate,Genre,Summary
0,Animal Farm,George Orwell,1945-08-17,Roman à clef Satire Children's literature Spec...,"Old Major, the old boar on the Manor Farm, ca..."
1,A Clockwork Orange,Anthony Burgess,1962,Science Fiction Novella Speculative fiction Ut...,"Alex, a teenager living in near-future Englan..."
2,The Plague,Albert Camus,1947,Existentialism Fiction Absurdist fiction Novel,The text of The Plague is divided into five p...
3,An Enquiry Concerning Human Understanding,David Hume,NaN,NaN,The argument of the Enquiry proceeds by a ser...
4,A Fire Upon the Deep,Vernor Vinge,NaN,Hard science fiction Science Fiction Speculati...,The novel posits that space around the Milky ...
...,...,...,...,...,...
16554,Under Wildwood,Colin Meloy,2012-09-25,NaN,"Prue McKeel, having rescued her brother from ..."
16555,Transfer of Power,Vince Flynn,2000-06-01,Thriller Fiction,The reader first meets Rapp while he is doing...
16556,Decoded,Jay-Z,2010-11-16,Autobiography,The book follows very rough chronological ord...
16557,America Again: Re-becoming The Greatness We Ne...,Stephen Colbert,2012-10-02,NaN,Colbert addresses topics including Wall Stree...
16558,Poor Folk,Fyodor Dostoyevsky,1846,Epistolary novel Speculative fiction,Makar Devushkin and Varvara Dobroselova are s...

In [5]:
books_df.isna().sum()

Title               0
Author              0
PublishedDate    5610
Genre            3718
Summary             0
dtype: int64

In [6]:
books_df[['Title', 'Author']].duplicated().sum()

8