In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
filename = "data/booksummaries.txt"
lines = open(filename).read().splitlines()
len(lines)

16559

In [3]:
titles = []
authors = []
pubDates = []
genres = []
summaries = []
for line in range(0,len(lines)):
    content = lines[line].split('/m/', 1)[1].split('\t', 1)[1]
    fields = content.split('\t')
    title = fields[0]
    titles.append(title)
    author = fields[1]
    authors.append(author)
    pubDate = fields[2]
    if pubDate == '':
        pubDate = np.nan
    pubDates.append(pubDate)
    genreDict = fields[3]
    genre = ''
    summary = fields[-1]
    try:
        genreDict = eval(genreDict)
        for val in genreDict.values():
            genre += val + ' '
    except:
        genre = np.nan
    
    genres.append(genre)
    summary = summary.replace('\'', '')
    summaries.append(summary)

In [4]:
books_df = pd.DataFrame({'Title':titles, 'Author':authors, 'PublishedDate': pubDates,'Genre':genres, 'Summary':summaries})
books_df

,Title,Author,PublishedDate,Genre,Summary
0,Animal Farm,George Orwell,1945-08-17,Roman à clef Satire Children's literature Spec...,"Old Major, the old boar on the Manor Farm, ca..."
1,A Clockwork Orange,Anthony Burgess,1962,Science Fiction Novella Speculative fiction Ut...,"Alex, a teenager living in near-future Englan..."
2,The Plague,Albert Camus,1947,Existentialism Fiction Absurdist fiction Novel,The text of The Plague is divided into five p...
3,An Enquiry Concerning Human Understanding,David Hume,NaN,NaN,The argument of the Enquiry proceeds by a ser...
4,A Fire Upon the Deep,Vernor Vinge,NaN,Hard science fiction Science Fiction Speculati...,The novel posits that space around the Milky ...
...,...,...,...,...,...
16554,Under Wildwood,Colin Meloy,2012-09-25,NaN,"Prue McKeel, having rescued her brother from ..."
16555,Transfer of Power,Vince Flynn,2000-06-01,Thriller Fiction,The reader first meets Rapp while he is doing...
16556,Decoded,Jay-Z,2010-11-16,Autobiography,The book follows very rough chronological ord...
16557,America Again: Re-becoming The Greatness We Ne...,Stephen Colbert,2012-10-02,NaN,Colbert addresses topics including Wall Stree...
16558,Poor Folk,Fyodor Dostoyevsky,1846,Epistolary novel Speculative fiction,Makar Devushkin and Varvara Dobroselova are s...

In [5]:
books_df.isna().sum()

Title               0
Author              0
PublishedDate    5610
Genre            3718
Summary             0
dtype: int64

In [6]:
books_df[['Title', 'Author']].duplicated().sum()

8

In [7]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          16559 non-null  object
 1   Author         16559 non-null  object
 2   PublishedDate  10949 non-null  object
 3   Genre          12841 non-null  object
 4   Summary        16559 non-null  object
dtypes: object(5)
memory usage: 647.0+ KB

In [8]:
books_df = books_df.dropna()
books_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9671 entries, 0 to 16558
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          9671 non-null   object
 1   Author         9671 non-null   object
 2   PublishedDate  9671 non-null   object
 3   Genre          9671 non-null   object
 4   Summary        9671 non-null   object
dtypes: object(5)
memory usage: 453.3+ KB

In [9]:
books_df = books_df.drop_duplicates(subset=['Title', 'Author'])
books_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9669 entries, 0 to 16558
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          9669 non-null   object
 1   Author         9669 non-null   object
 2   PublishedDate  9669 non-null   object
 3   Genre          9669 non-null   object
 4   Summary        9669 non-null   object
dtypes: object(5)
memory usage: 453.2+ KB

In [10]:
books_df[['Title', 'Author']].duplicated().sum()

0

In [11]:
books_df.head(10)

,Title,Author,PublishedDate,Genre,Summary
0,Animal Farm,George Orwell,1945-08-17,Roman à clef Satire Children's literature Spec...,"Old Major, the old boar on the Manor Farm, ca..."
1,A Clockwork Orange,Anthony Burgess,1962,Science Fiction Novella Speculative fiction Ut...,"Alex, a teenager living in near-future Englan..."
2,The Plague,Albert Camus,1947,Existentialism Fiction Absurdist fiction Novel,The text of The Plague is divided into five p...
5,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,War novel Roman à clef,"The book tells the story of Paul Bäumer, a Ge..."
6,A Wizard of Earthsea,Ursula K. Le Guin,1968,Children's literature Fantasy Speculative fict...,"Ged is a young boy on Gont, one of the larger..."
8,Blade Runner 3: Replicant Night,K. W. Jeter,1996-10-01,Science Fiction Speculative fiction,"Living on Mars, Deckard is acting as a consul..."
9,Blade Runner 2: The Edge of Human,K. W. Jeter,1995-10-01,Science Fiction Speculative fiction,Beginning several months after the events in ...
20,Crash,J. G. Ballard,1973,Speculative fiction Fiction Novel,The story is told through the eyes of narrato...
21,Children of Dune,Frank Herbert,1976,Science Fiction Speculative fiction Children's...,Nine years after Emperor Paul Muaddib walked ...
22,"Candide, ou l'Optimisme",Voltaire,1759-01,Satire Bildungsroman Picaresque novel,"Candide contains thirty episodic chapters, wh..."

In [21]:
books_df.to_csv('data/books_clean.csv')

In [362]:
books_df_clean = books_df.copy()
books_df_clean['Genre'] = books_df_clean['Genre'].str.lower()

In [363]:
science_list = ['science', 'alien', 'steampunk']
mystery_list = ['mystery', 'detective', 'suspense']
horror_list = ['gothic', 'horror']
comedy_list = ['comic', 'humour','comedy']
fiction_list = ['western','albino', 'fairy','picture book', 'wuxia','play', 'anthology', 'drama','novel', 'fiction', 'fantasy', 'roman à clef', 'children', 'story', 'prose', 'young adult', 'magic', 'game']
fiction_update_list = ['albino','novel', 'fiction', 'prose']
short_list = ['story', 'anthology']
biography_list = ['autobiograph', 'biograph', 'memoir']
literary_list = ['literary', 'bildungsroman']
ecopol_list = ['economics', 'politics', 'business']
philosophy_list = ['philosophy', 'existentialism', 'postmodernism']
children_list = ['children', 'picture book', 'fairy']
game_list = ['role-playing', 'game']
essay_list = ['essay', 'treatise']
books_df_clean['Audience'] = 'adult'
#books_df_clean['Genre']= np.nan
books_df_clean['Fiction'] = 0
#Audience capture from Genre
books_df_clean.loc[books_df_clean['Genre'].str.contains('children'), 'Audience'] = 'children'
books_df_clean.loc[books_df_clean['Genre'].str.contains('young'), 'Audience'] = 'young adult'
#Some preprocessing of genre
books_df_clean['Genre'] = books_df_clean['Genre'].str.replace('non-fiction', 'nfic').str.replace('nonfiction', 'nfic').str.strip()
books_df_clean.loc[books_df_clean['Title'].str.contains('The Fall'), 'Genre'] = 'existentialism fiction'
books_df_clean.loc[books_df_clean['Title'].str.contains('A Happy Death'), 'Genre'] = 'existentialism fiction'
books_df_clean.loc[books_df_clean['Title'].str.contains('Finding Myself'), 'Genre'] = 'postmodernism fiction'
books_df_clean.loc[books_df_clean['Title'].str.contains('Shoot Horses'), 'Genre'] = 'existentialism fiction'
books_df_clean.loc[books_df_clean['Title'].str.contains('Green Grass'), 'Genre'] = 'postmodernism fiction'
#Classify fiction/nonfiction
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(fiction_list)), 'Fiction'] = 1

#Process genres
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(science_list)), 'Genre'] = 'science'
books_df_clean.loc[books_df_clean['Genre'].str.contains('thriller'), 'Genre'] = 'thriller'
books_df_clean.loc[books_df_clean['Genre'].str.contains('fantasy'), 'Genre'] = 'fantasy'
books_df_clean.loc[books_df_clean['Genre'].str.contains('satire'), 'Genre'] = 'satire'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(horror_list)), 'Genre'] = 'horror'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(mystery_list)), 'Genre'] = 'mystery'
books_df_clean.loc[books_df_clean['Genre'].str.contains('historical'), 'Genre'] = 'history'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(biography_list)), 'Genre'] = 'biography'
books_df_clean.loc[books_df_clean['Genre'].str.contains('crime'), 'Genre'] = 'crime'
books_df_clean.loc[books_df_clean['Genre'].str.contains('romance'), 'Genre'] = 'romance'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(comedy_list)), 'Genre'] = 'comedy'
books_df_clean.loc[books_df_clean['Genre'].str.contains('adventure'), 'Genre'] = 'adventure'
books_df_clean.loc[books_df_clean['Genre'].str.contains('roman à clef'), 'Genre'] = 'roman à clef'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(literary_list)), 'Genre'] = 'literary'
books_df_clean.loc[books_df_clean['Genre'].str.contains('epistolary'), 'Genre'] = 'epistolary'
books_df_clean.loc[books_df_clean['Genre'].str.contains('spiritual'), 'Genre'] = 'spiritual'
books_df_clean.loc[books_df_clean['Genre'].str.contains('spy'), 'Genre'] = 'spy'
books_df_clean.loc[books_df_clean['Genre'].str.contains('sociology'), 'Genre'] = 'sociology'
books_df_clean.loc[books_df_clean['Genre'].str.contains('poetry'), 'Genre'] = 'poetry'
books_df_clean.loc[books_df_clean['Genre'].str.contains('dystopia'), 'Genre'] = 'dystopia'
books_df_clean.loc[books_df_clean['Genre'].str.contains('absurdist'), 'Genre'] = 'absurdist'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(philosophy_list)), 'Genre'] = 'philosophy'
books_df_clean.loc[books_df_clean['Genre'].str.contains('erotica'), 'Genre'] = 'erotic'
books_df_clean.loc[books_df_clean['Genre'].str.contains('religion'), 'Genre'] = 'religion'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(ecopol_list)), 'Genre'] = 'economics/politics'
books_df_clean.loc[books_df_clean['Genre'].str.contains('travel'), 'Genre'] = 'travel'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(children_list)), 'Genre'] = 'children literature'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(short_list)), 'Genre'] = 'short story'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(essay_list)), 'Genre'] = 'essay'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(game_list)), 'Genre'] = 'game'
books_df_clean.loc[books_df_clean['Genre'].str.contains('speculative'), 'Genre'] = 'speculative'
books_df_clean.loc[books_df_clean['Genre'].str.contains('|'.join(fiction_update_list)), 'Genre'] = 'generic-fiction'

In [364]:
books_df_clean

,Title,Author,PublishedDate,Genre,Summary,Audience,Fiction
0,Animal Farm,George Orwell,1945-08-17,satire,"Old Major, the old boar on the Manor Farm, ca...",children,1
1,A Clockwork Orange,Anthony Burgess,1962,science,"Alex, a teenager living in near-future Englan...",adult,1
2,The Plague,Albert Camus,1947,absurdist,The text of The Plague is divided into five p...,adult,1
5,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,roman à clef,"The book tells the story of Paul Bäumer, a Ge...",adult,1
6,A Wizard of Earthsea,Ursula K. Le Guin,1968,fantasy,"Ged is a young boy on Gont, one of the larger...",children,1
...,...,...,...,...,...,...,...
16549,The Third Lynx,Timothy Zahn,2007,science,The story starts with former government agent...,adult,1
16551,Remote Control,Andy McNab,1997,thriller,The series follows the character of Nick Ston...,adult,1
16555,Transfer of Power,Vince Flynn,2000-06-01,thriller,The reader first meets Rapp while he is doing...,adult,1
16556,Decoded,Jay-Z,2010-11-16,biography,The book follows very rough chronological ord...,adult,0
16558,Poor Folk,Fyodor Dostoyevsky,1846,epistolary,Makar Devushkin and Varvara Dobroselova are s...,adult,1

In [365]:
books_df_clean[books_df_clean['Genre'].isna()]

Empty DataFrame
Columns: [Title, Author, PublishedDate, Genre, Summary, Audience, Fiction]
Index: []

In [366]:
books_df_clean['Genre']=books_df_clean['Genre'].str.replace(' fiction', '').str.replace(' nfic', '')
books_df_clean['Genre']=books_df_clean['Genre'].str.replace('nfic ', '')
books_df_clean['Genre']=books_df_clean['Genre'].str.replace('nfic', 'generic non-fiction')

In [369]:
books_df_clean['Genre'].value_counts()

Genre
science                   2116
generic-fiction           1478
fantasy                   1415
mystery                    789
short story                731
children literature        700
thriller                   424
speculative                233
horror                     218
biography                  212
crime                      190
young adult literature     177
romance                    157
generic non-fiction        135
adventure                  120
comedy                     104
spy                        101
satire                      85
literary                    51
philosophy                  47
dystopia                    21
game                        17
economics/politics          16
epistolary                  13
roman à clef                13
poetry                      12
travel                      11
wuxia                       11
sociology                   10
erotic                       7
western                      6
essay                        6
religion                     6
magic realism                4
play                         4
absurdist                    4
drama                        3
spiritual                    3
creative                     3
self-help                    3
encyclopedia                 3
psychology                   2
sports                       2
polemic                      1
nature                       1
parody                       1
education                    1
photography                  1
cookbook                     1
Name: count, dtype: int64

In [370]:
books_df_clean

,Title,Author,PublishedDate,Genre,Summary,Audience,Fiction
0,Animal Farm,George Orwell,1945-08-17,satire,"Old Major, the old boar on the Manor Farm, ca...",children,1
1,A Clockwork Orange,Anthony Burgess,1962,science,"Alex, a teenager living in near-future Englan...",adult,1
2,The Plague,Albert Camus,1947,absurdist,The text of The Plague is divided into five p...,adult,1
5,All Quiet on the Western Front,Erich Maria Remarque,1929-01-29,roman à clef,"The book tells the story of Paul Bäumer, a Ge...",adult,1
6,A Wizard of Earthsea,Ursula K. Le Guin,1968,fantasy,"Ged is a young boy on Gont, one of the larger...",children,1
...,...,...,...,...,...,...,...
16549,The Third Lynx,Timothy Zahn,2007,science,The story starts with former government agent...,adult,1
16551,Remote Control,Andy McNab,1997,thriller,The series follows the character of Nick Ston...,adult,1
16555,Transfer of Power,Vince Flynn,2000-06-01,thriller,The reader first meets Rapp while he is doing...,adult,1
16556,Decoded,Jay-Z,2010-11-16,biography,The book follows very rough chronological ord...,adult,0
16558,Poor Folk,Fyodor Dostoyevsky,1846,epistolary,Makar Devushkin and Varvara Dobroselova are s...,adult,1